/* kagami example template */

html {
	background:
		url("sample.png"),
		url("kagami.png") no-repeat bottom right,
		linear-gradient(220deg, #F3C5E9, #964E9A);
	background-blend-mode: multiply, multiply, normal;
	background-size: auto, 300px, auto;
	background-attachment: fixed;
}

body {
	font-family: serif;
	padding: 10px;
	color: #FFFFFF;
	text-shadow: 2px 1px #646464;
	background: rgba(0, 0, 0, 25%);
}

a { color: #BFE2EA; text-decoration: none; }
a:hover { color: transparent; text-decoration: none; text-shadow: 0 0 3px #F0F0F0; }

.title { font-weight: bold; font-size: 25px; }
.nav li { font-size: 18px; display: inline; }
.nav li:not(:last-child):after { content: " | "; } 

.icon { height: 0.75em; }

.index { font-size: 17px; }

.toc {
	background: rgba(0, 0, 0, 30%);
	display: table;
	border: 4px solid #CCC;
    padding: 3px 10px 3px 10px;
}
